body {
    background-image: linear-gradient(rgb(0, 99, 0) 25%,white);
    background-attachment: fixed;
    min-width: auto;
    max-width: auto;
}
#scroll{
    overflow: scroll; 
    padding: 5px; 
    max-width: 515px; 
    max-width: 100%;
}
ul li{    
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}
.prof{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    background-color: rgb(117, 189, 117);
    border-style: solid;
    border-color: rgb(1, 65, 1);
    border-radius: 10px;
}
#profr{
    justify-content: center;
    align-items: center;
}
.c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.8vh;
}
#tabelascrol{
    overflow: scroll;
    display: flex;
}
tr td{
    padding: 0.7em;
    text-align: center;
}
#int {
    background-color: green;
    color: white;
    font-weight: bold;
}
table {
    background-color: rgb(117, 189, 117);
    color: black;
    font-weight: bold;
}
.ct {
    background-color: rgb(0, 72, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
h1 {
    color: rgb(240, 240, 240);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 72, 0);
    border-radius: 15px;
    text-shadow: 1.5px -1.0px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
h2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: italic;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-radius: 10px;
    margin: 0.2em;
}
.k {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}